body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    max-width: 1440px;
    margin: 0 auto; padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

html {
    scroll-behavior: smooth; 
}

* {
    box-sizing: border-box;
  }

.header {
    background-color: rgb(253, 226, 231);
}

.main {
    display: flex;
    flex-wrap: wrap;
}

.footer {
    background-color: rgb(253, 226, 231);
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
  }

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    font-size: 18px;
    color: rgb(40, 40, 40);
    border-left: rgb(40, 40, 40) solid 1px;
    text-decoration: none;
    transition: .3s;
}

.nav-link:hover {
    background-color: rgb(221, 221, 221);
}

.section-profile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    width:100%;
    color: rgb(40, 40, 40);
    border-bottom: solid rgb(221, 221, 221) 10px;
}

.section {
    width: 50%;
    padding: 20px;
    color: rgb(40, 40, 40);
    border-bottom: solid rgb(221, 221, 221) 5px;
}

.section p {
    line-height: 1.5em;
}

.section:last-child {
    border-bottom: none;
}

.regular-list {
    list-style-image: url(img/bullit-ico.png);
    line-height: 1.5em;
}

.regular-list li ul {
    list-style-image: none;
}

.section a {
    color: rgb(211, 124, 140);
    text-decoration: none;
    transition: 0.3s;
}

.section a:hover {
    background-color: rgb(221, 221, 221);
}

.projects-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.projects {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project {
    width: 45%;
}

.project__cover {
    position: relative;
    width: 100%;
    height: 320px;
    background-size: 120% auto;
    background-position: center 0;
    background-repeat: no-repeat;
    transition: 0.3s;
}

.project:hover .project__cover {
    box-shadow: 0px 0px 5px 8px rgba(36, 36, 36, 0.2);
    background-size: 140% auto;
}

.project__tags {
    margin: 0; padding: 0;
    position: absolute;
    bottom: 5px;
    left: 50%;
    margin-left: -40%;
    width: 80%;
    display: none;
    justify-content: center;
    gap: 5px;
    list-style-type: none;
}

.project:hover .project__tags {
    display: flex;
}

.tag {
    color: rgb(40, 40, 40);
    padding: 0 10px;
    background-color: rgb(221, 221, 221);
    opacity: 70%;
    border-radius: 10px;
}

.project-title {
    position: relative;
    padding: 0 10px 10px 0;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    transition: 0.3s;
}

.project-title:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;    
    background-color: rgb(211, 124, 140);
    transition: 0.3s;
}

.project:hover .project-title:after  {
    width: 50%;
}

.footer div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer-name {
    padding: 0 20px;
    line-height: 50px;
    font-size: 18px;
    color: rgb(40, 40, 40);
}

.github-link {
    padding: 0 20px;
    line-height: 50px;
    font-size: 18px;
    color: rgb(40, 40, 40);
    border-left: rgb(40, 40, 40) solid 1px;
    text-decoration: none;
    transition: .3s;
}

.github-link:hover {
    background-color: rgb(221, 221, 221);
}

.rsschool-logo {
    padding: 0 20px;
}

@media (max-width: 768px) {
    .section {
      width: 100%;
    }

    .nav-list {
        justify-content: center;
    }

    .section:nth-last-child(2) {
        border-bottom: solid rgb(221, 221, 221) 5px;
    }

    .footer {
        justify-content: space-around;
    }

    .section-profile {
        flex-direction: column;
        justify-content: flex-start;
    }

    .projects-section {
        justify-content: start;
    }

    .project {
        width: 90%;
    }
}
