body {
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
  }

header {
    background-color:aqua;
}

main {
    background-color: cadetblue;
}

footer {
    background-color: rgb(29, 145, 29);
}